# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# data
dev_data.json
pro1_data.json
pro2_data.json
parsing/__pycache__/
parsing/csv
preprocess/csv
# win_loss/csv
# roles/csv

